@model ArheoloskiNaog.Models.Lokalitet

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Lokalitet</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Ime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ime)
                @Html.ValidationMessageFor(model => model.Ime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Oblast, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Oblast)
                @Html.ValidationMessageFor(model => model.Oblast)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Period, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Period)
                @Html.ValidationMessageFor(model => model.Period)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PeriodGodini, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PeriodGodini)
                @Html.ValidationMessageFor(model => model.PeriodGodini)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Detali, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Detali)
                @Html.ValidationMessageFor(model => model.Detali)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vlez, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Vlez)
                @Html.ValidationMessageFor(model => model.Vlez)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImageUrl)
                @Html.ValidationMessageFor(model => model.ImageUrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Opis, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Opis)
                @Html.ValidationMessageFor(model => model.Opis)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
